{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    {# ... #}

    

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Paso 1</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Subir Excel con datos <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Columas obligatorias</li>
              <li>Cliente, NIT, Correo1 y Correo2</li>
              <br>
              <br>
              <br>
              <br>
            </ul>
            {{ form_row(form.excel) }}
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Paso 2</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Subir Retenciones en PDF <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Shift + click para seleccionar varios</li>
              <br>
              <br>
              <br>
              <br>
              <br>
            </ul>
            {{ form_row(form.pdf) }}
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Paso 3.</h4>
          </div>
          <div class="card-body">
             <h1 class="card-title pricing-card-title">Adjuntar Mensaje <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                {{form_row(form.message)}}
            </ul>
            <button type="submit" class="btn btn-lg btn-block btn-primary">Enivar Correos</button>
          </div>
        </div>
      </div>
        {% if error_message is defined %}
            <h3> {{error_message}}</h3>
        {% endif %}
      {% if cant_email is defined and cant_pdf is defined %}
        <h4> Se han enviado {{cant_email}} correos con {{cant_pdf}} PDFs en total.</h4>
        <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">NIT</th>
                  <th scope="col">Correos</th>
                  <th scope="col">Cantidad Documentos enviados</th>
                </tr>
              </thead>
              <tbody>
                {% for client in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{client.cliente}}</td>
                    <td>{{client.nit}}</td>
                    <td>{% for email in client.emails %}
                            {{email}}, 
                        {% endfor %}
                    </td>
                    <td>{{client.pdf|length}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

      {% endif %}
      {% if invalid_data is defined %}
        <h2> PDFs sin Cliente </h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">NIT</th>
            </tr>
          </thead>
          <tbody>
            {% for pdf in invalid_data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{pdf}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    {{ form_end(form) }}

{% endblock %}
